.institutions-container {
	padding: 1rem;

	h1 {
		text-align: center;
	}

	.institutions-input {
		width: 100%;
		font-size: 1rem;
		border: 2px solid gray;
		padding: 0.5rem 1rem;
		border-radius: 5px;
	}

	.InstitutionsList {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		gap: 2rem;
	}
}

.loaderCont {
	display: grid;
	place-items: center;
	width: 100%;
	height: calc(100vh - 79px);
}
