.institution-card {
	padding: 1rem;
	background: rgb(5, 109, 174);
	background: linear-gradient(
		45deg,
		rgb(36, 171, 255) 0%,
		rgb(5, 109, 174) 100%
	);
	border-radius: 5px;

	&__status {
		display: flex;
		justify-content: space-between;

		&__title {
			font-weight: 400;
			margin-top: 0;
			margin: 0;
		}

		.institution-logo {
			width: 75px;
			height: 75px;
		}
	}

	&__elements {
		display: flex;
		align-items: center;
		gap: 1rem;
		justify-content: space-between;
		margin-top: 2rem;

		.enter-institution-button {
			background-color: #fae1d0;
		}
	}

	.institution-enter-button {
		background-color: white;
		display: flex;
		align-items: center;
		color: #181818;
		font-weight: 600;

		&:hover {
			background-color: #a6e3d7;
		}
	}
}
